ASPNETCORE_ENVIRONMENT=Production
APP_URL=https://files.index.sarl

POSTGRES_DB=filehost
POSTGRES_USER=filehost
POSTGRES_PASSWORD=CHANGE_ME_BASE64URL_PASSWORD
REDIS_PASSWORD=CHANGE_ME_BASE64URL_PASSWORD

UPLOAD_DIR=/data/uploads
MAX_UPLOAD_SIZE_MB=512
MAX_FILES_PER_UPLOAD=20
KEEP_ORIGINAL_FILES=true

ENABLE_REGISTRATION=true
ENABLE_PUBLIC_UPLOADS_PAGE=true
ENABLE_NSFW=true
NSFW_BLUR_BY_DEFAULT=true

ENABLE_CLAMAV=false
CLAMAV_HOST=clamav
CLAMAV_PORT=3310

OWNER_EMAIL=admin@example.com
OWNER_USERNAME=m5rcel
OWNER_PASSWORD=CHANGE_ME_12_PLUS_MIXED_CHARS

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_ENABLE_SSL=true
